@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  color: white;
  /* background-color: black; */
  background: linear-gradient(to right, #8d0268,#03084f);
  font-family: 'Agbalumo', system-ui; 
  font-family: 'Poppins', sans-serif; 
}


